footer div {
    background-color: #553317;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

#social-media-button-container {
  background-color: #FAA761 ;
  height: 50px;
  margin-right: 35px;
  border-radius: 10px;
}

 button {
    margin: 10px;
    background: none;
    border: none;
    text-decoration: none;
    color: none;
  }

  i {
    font-size:xx-large;
  }