<footer>
  <div>
    <img
      src="../../../assets/img/logo-spike-rainbow.jpg"
      alt="Logo de SpikeRainbow"
      height="135px"
    />
    <div id="social-media-button-container">
      <button class="social-media-buttons">
        <i class="bi bi-facebook"></i>
      </button>
      <button class="social-media-buttons">
        <i class="bi bi-whatsapp"></i>
      </button>
      <button class="social-media-buttons">
        <i class="bi bi-instagram"></i>
      </button>
    </div>
  </div>
</footer>
