<footer class="pt-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 mb-4">
        <strong>SpikeRainbow</strong>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title">Redes Sociales</li>
          <li>Instagram</li>
          <li>Facebook</li>
          <li>Whatsapp</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title">Nosotros</li>
          <li>Sobre nosotros</li>
          <li>Ubicacion</li>
          <li>Que preparamos?</li>
          <li>Servicios</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <ul>
          <li class="list-title">Preguntas Frecuentes</li>
          <li>Domicilios</li>
          <li>¿Que prodcutos manejan?</li>
          <li>Metodos de pago</li>
          <li>¿Donde encontrarnos?</li>
        </ul>
      </div>
      <div class="col-12 pt-5 text-center">
        <p class="copyright">© SpikeRainbow</p>
      </div>
    </div>
  </div>
</footer>
